h1 {
    color: white;
    background: #252526;
    text-align: center;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

body {
    background-color: #1e1e1e;
}

p{
    color: white;
}

li {
    color: white;
}